* {
  font-family: "Poppins", sans-serif;
}
body,
html {
  scroll-behavior: smooth;
}
.header {
  background-color: white;
  padding: 48px 0 56px 0px;
}
.container {
  max-width: 1720px;
  margin: 0 auto;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  gap: 13px;
  align-items: center;
}
.header__title {
  color: #000;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__right {
  display: flex;
  gap: 65px;
  align-items: center;
}
.header__link {
  color: #242323;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}
.header__btn {
  color: #fefefe;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.72px;
  border-radius: 7px;
  background: #000;
  padding: 15px 22px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .header__right {
    gap: 20px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__btn {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .header__body {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .header__right {
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

.home {
  background-color: white;
  margin-bottom: 63px;
}
.home__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 59px;
  background: #f4f6f5;
  padding: 0px 81px 0px 119px;
}
.home__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 610px;
}
.home__title {
  color: #000;
  font-size: 96px;
  font-weight: 900;
  line-height: 120px; /* 125% */
}
.home__subtitle {
  color: #191818;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.6px;
}
.home__info {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 90px;
}
.home__link {
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1.5px;
  padding: 18px 40px;
}
.home__right {
  max-width: 860px;
  min-width: 500px;
}
.home__img {
  width: 100%;
}
@media (max-width: 1200px) {
  .home__body {
    flex-direction: column;
  }
  .home__left {
    max-width: none;
  }
}
@media (max-width: 900px) {
  .home__title {
    font-size: 56px;
    line-height: 60px;
  }
}
@media (max-width: 600px) {
  .home__body {
    padding: 20px 20px 20px 20px;
  }
}
.shops {
  background: #ebd96b;
  padding: 55px 0px;
}
.shops__body {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .shops__body {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.catalogue {
  padding: 69px 0 190px 0;
}
.catalogue__title {
  color: #000;
  font-size: 48px;
  font-weight: 900;
  line-height: 50px; /* 104.167% */
  letter-spacing: 2.88px;
}
.catalogue__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 118px;
  flex-wrap: wrap;
}
.catalogue__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}
.catalogue__name {
  color: #191919;
  font-size: 32px;
  font-weight: 500;
  line-height: 50px; /* 156.25% */
  letter-spacing: -1.28px;
}
.catalogue__subtitle {
  color: #7f7f7f;
  font-size: 24px;
  font-weight: 500;
  line-height: 50px; /* 208.333% */
  letter-spacing: -0.96px;
}
@media (max-width: 900px) {
  .catalogue__body {
    justify-content: center;
    gap: 50px;
  }
  .catalogue__title {
    text-align: center;
  }
  .catalogue__img {
    width: 100%;
  }
}
.sale {
  height: 968px;
}
.sale__body {
  display: flex;
  width: 100%;
}
.sale__right {
  background: linear-gradient(
    1deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  text-align: left;
  align-items: flex-start;
  padding-left: 90px;
}
.sale__left {
  width: 991px;
}
.sale__img {
  width: 991px;
  height: 968px;
}
.sale__title {
  color: #000;
  font-size: 111.608px;
  font-weight: 900;
  line-height: 137.185px; /* 122.917% */
  max-width: 593px;
}
.sale__subtitle {
  color: #231300;
  font-size: 36.04px;
  font-weight: 500;
  line-height: 52.316px; /* 145.161% */
  letter-spacing: -0.721px;
  max-width: 641px;
}
.sale__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sale__black {
  color: #000;
  font-size: 36.04px;
  font-weight: 700;
  line-height: 52.316px; /* 145.161% */
  letter-spacing: 0.721px;
}
.sale__text {
  color: #000;
  font-size: 36.04px;
  font-weight: 400;
  line-height: 52.316px; /* 145.161% */
  letter-spacing: -0.721px;
}
.sale__link {
  text-transform: uppercase;
  color: #fff;
  font-size: 27.902px;
  font-weight: 600;
  letter-spacing: 0.558px;
  border-radius: 8.138px;
  background: #000;
  padding: 30px 50px;
}
@media (max-width: 1200px) {
  .sale__body {
    flex-direction: column;
  }
  .sale {
    height: auto;
  }
  .sale__left {
    width: auto;
  }
  .sale__img {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .sale__title {
    font-size: 60px;
  }
  .sale__right {
    padding-bottom: 30px;
  }
}
.mobile {
  padding-bottom: 200px;
}
.mobile__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 520px;
}
.mobile__title {
  color: #000;
  font-size: 48px;
  font-weight: 900;
  line-height: 150%; /* 72px */
  letter-spacing: 2.88px;
}
.mobile__subtitle {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px; /* 145.833% */
  letter-spacing: -0.96px;
}
.mobile__info {
  display: flex;
  gap: 25px;
}
@media (max-width: 900px) {
  .mobile__body {
    flex-direction: column;
  }
}
.form {
  padding: 141px 0px 156px 0px;
  background: #e5c643;
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.form__title {
  color: #fff;
  font-size: 55px;
  font-weight: 900;
  line-height: 70px; /* 127.273% */
  letter-spacing: 1.65px;
}
.form__subtitle {
  color: #fffcf8;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px; /* 109.375% */
  letter-spacing: 0.96px;
}
.form__item {
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  width: 574px;
  display: flex;
  justify-content: space-between;
}
.form__btn {
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-size: 33px;
  font-weight: 500;
  line-height: 35px; /* 106.061% */
  letter-spacing: 0.99px;
  text-transform: capitalize;
  padding: 30px 50px;
}
.form__input {
  width: 100%;
  color: #767676;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px; /* 145.833% */
  letter-spacing: 0.72px;
  padding: 10px;
}
.footer {
  padding: 100px 50px;
  background-color: black;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer__title {
  color: white;
  font-size: 35px;
  font-weight: 800;
}
.footer__subtitle {
  color: gray;
  width: 400px;
  font-size: 24px;
}
.footer__item {
  display: flex;
  gap: 10px;
}
.item {
  border: 2px solid #e0c340;
  border-radius: 20px;
  height: 50px;
  width: 50px;
  background-color: #e3c743;
}
.footer__right {
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
}
.footer__about {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer__text2 {
  font-size: 25px;
  color: rgb(151, 151, 151);
  font-weight: 500;
}
.footer__text3 {
  font-size: 20px;
  color: gray;
}
@media (max-width: 900px) {
  .footer__right {
    gap: 50px;
  }
}
